<div class="content">
  <div class="flex-container">
    <div class="flex-item" #leftElement>
      <h2>Flex container-1</h2>
      <button (click)="showLoader('first')">Show first loader</button>
      <app-loader [id]="'first'"></app-loader>
      <h1>First container</h1>
      <button (click)="hideLoader('first')">Hide first loader</button>
    </div>
    <div
      class="grabber stuff"
      appResize
      [leftResize]="leftElement"
      [rightResize]="rightElement"
    >
      <span></span>
    </div>
    <div class="flex-item" #rightElement>
      <h2>Flex container-2</h2>
      <button (click)="showLoader('second')">Show second loader</button>
      <app-loader [id]="'second'"></app-loader>
      <h1>second container</h1>
      <button (click)="hideLoader('second')">Hide second loader</button>
    </div>
  </div>
</div>
