.content {
    width: 100%;
    height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
 height: 100%;
   /* max-height: 100%; */
}
.flex-item {
  flex: 1 5 50%;
  /* height: 100%; */
  border: 1px solid black;
}
.grabber {
  width: 10px;
}
.grabber:hover {
  cursor: col-resize;
}
.side-panel {
  background-color: lightgray;
}

/* .stuff::after {
  justify-content: center;
  align-items: center;
  font-family: 'FontAwesome';
  content: '\f069';
  position: relative;
  top: 50%;
  left: -2px; 
} */

.stuff span {
  position: absolute;
  box-sizing: border-box;
  display: block;
  border: 1px solid #e91313;
  border-width: 0 1px; /* Cambiar el 0 por 1 para porner en horizontal*/
  top: 50%;
  /* margin-top: -10px; */
  /* margin: -10px 0 0 3.5px; */
  height: 20px;
  width: 4px;
  margin-left: 3px;
}


/* loader */
/* .actions {
  text-align: center;
  margin: 50px 0;
}
.actions .closed {
  margin-top: 20px;
}
.loaders {
  display: flex;
}
.loaders > * {
  width: 50%;
  position: relative;
  margin: 0 25px;
  border: 2px solid #000;
  height: 500px;
}
.loaders h1 {
  text-align: center;
} */